<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>version</key>
	<integer>0</integer>
	<key>selectedTheme</key>
	<integer>2</integer>
	<key>themes</key>
	<array>
		<dict>
			<key>Name</key>
			<string>Light</string>
			<key>Background</key>
			<array>
				<integer>255</integer>
				<integer>255</integer>
				<integer>255</integer>
			</array>
			<key>Selection</key>
			<array>
				<integer>212</integer>
				<integer>212</integer>
				<integer>212</integer>
			</array>
			<key>Text</key>
			<array>
				<integer>0</integer>
				<integer>0</integer>
			</array>
			<key>InvisibleText</key>
			<array>
				<integer>170</integer>
			</array>
			<key>Caret</key>
			<array>
				<integer>50</integer>
				<integer>50</integer>
				<integer>50</integer>
			</array>
			<key>Comment</key>
			<array/>
		</dict>
		<dict>
			<key>Background</key>
			<array>
				<integer>40</integer>
				<integer>40</integer>
				<integer>40</integer>
			</array>
			<key>Text</key>
			<array>
				<integer>255</integer>
				<integer>255</integer>
				<integer>255</integer>
			</array>
			<key>Caret</key>
			<array>
				<integer>200</integer>
				<integer>200</integer>
				<integer>200</integer>
			</array>
			<key>Comment</key>
			<array>
				<integer>102</integer>
				<integer>217</integer>
				<integer>239</integer>
			</array>
		</dict>
	</array>
</dict>
</plist>
