<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>selectedTheme</key>
	<integer>0</integer>
	<key>themes</key>
	<array>
		<dict>
			<key>Name</key>
			<string>Light</string>
			<key>Background</key>
			<array>
				<integer>255</integer>
				<integer>255</integer>
				<integer>255</integer>
			</array>
			<key>Text</key>
			<array>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
			</array>
			<key>Caret</key>
			<array>
				<integer>50</integer>
				<integer>50</integer>
				<integer>50</integer>
			</array>
			<key>Comment</key>
			<array>
				<integer>100</integer>
				<integer>100</integer>
				<integer>100</integer>
			</array>
		</dict>
		<dict>
			<key>Name</key>
			<string>Dark</string>
			<key>Background</key>
			<array>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
			</array>
			<key>Text</key>
			<array>
				<integer>255</integer>
				<integer>255</integer>
				<integer>255</integer>
			</array>
			<key>Caret</key>
			<array>
				<integer>220</integer>
				<integer>220</integer>
				<integer>220</integer>
			</array>
			<key>Comment</key>
			<array>
				<integer>150</integer>
				<integer>150</integer>
				<integer>150</integer>
			</array>
		</dict>
		<dict>
			<key>Name</key>
			<string>Solarized Light</string>
			<key>Background</key>
			<array>
				<integer>253</integer>
				<integer>246</integer>
				<integer>227</integer>
			</array>
			<key>Text</key>
			<array>
				<integer>88</integer>
				<integer>110</integer>
				<integer>117</integer>
			</array>
			<key>Caret</key>
			<array>
				<integer>101</integer>
				<integer>123</integer>
				<integer>131</integer>
			</array>
			<key>Comment</key>
			<array>
				<integer>38</integer>
				<integer>139</integer>
				<integer>210</integer>
			</array>
		</dict>
		<dict>
			<key>Name</key>
			<string>Solarized Dark</string>
			<key>Background</key>
			<array>
				<integer>0</integer>
				<integer>43</integer>
				<integer>54</integer>
			</array>
			<key>Text</key>
			<array>
				<integer>147</integer>
				<integer>161</integer>
				<integer>161</integer>
			</array>
			<key>Caret</key>
			<array>
				<integer>131</integer>
				<integer>148</integer>
				<integer>150</integer>
			</array>
			<key>Comment</key>
			<array>
				<integer>38</integer>
				<integer>139</integer>
				<integer>210</integer>
			</array>
		</dict>
	</array>
</dict>
</plist>
